<!--<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhanghuan.example.demo20191102.mybatis.mapper.UserMapper">
    <select id="getAllUser" resultType="zhanghuan.example.demo20191102.mybatis.bean.User">
        select * from t_user
    </select>

</mapper>-->
